*.o
*.ko
*.mod.c
*.o.cmd
*.ko.cmd
*.kdevses
*.pcs
*.symvers
*.o.d
.*.cmd
*.mod
.tmp_versions
.vscode
/vhci-hcd.tag
Module.markers
modules.order
/conf
/*.tar.bz2
/*.tar.gz
/html
*~
test/.Module.symvers.cmd
test/.modules.order.cmd
test/test.mod
test/.test.mod.cmd
.usb-vhci-iocifc.o.d
